<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ball-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,2},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>Ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>paddle-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{50,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,180}}</string>
			<key>sourceSize</key>
			<string>{50,180}</string>
		</dict>
		<key>paddle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{50,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,180}}</string>
			<key>sourceSize</key>
			<string>{50,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>PongBox.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:14c14a79c24f04950635aa1b75d3220c$</string>
		<key>textureFileName</key>
		<string>PongBox.png</string>
	</dict>
</dict>
</plist>
